{% extends "base.html" %}

{% block contenido %}
    <div class="v50_198 servicios">
        <div class="v52_355">
            <div class="content-daimler">
                {% if sesion_iniciada %}
                    <h2 class="titulo">BIENVENIDO AL SISTEMA DE INVENTARIO</h2>            
                {%else%}
                    <h2 class="titulo">PAGINA INICIAL</h2>
                {%endif%}
                <p>Barranquilla, Atlántico</p>
                <a href="#">Contactar</a>        
            </div>
        </div>
        <div class="v52_358"></div>
        <div class="formulario">
            <span>Inicio de sesión</span>
            {% if sesion_iniciada %}
                <h2> Bienvenido </h2>
                <form action="/salir" method="POST">
                    {{csrf_token}}
                    <input type="submit" value="SALIR" class="boton">
                </form>
            {% else %}    
                <h2> Ingresar al <a href="\login">SISTEMA</a> </h2>
            {% endif %}
        </div>
        
        <!--<div class="v53_366"></div>
        <div class="v53_386"></div>-->
    </div>
{% endblock %}