<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario DAIMLER</title>
    <link rel="preload" href="{{ url_for('static', filename= 'css/normalize.css') }}" as="style" >
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cuprum&display=swap" rel="stylesheet">
    <link rel="preload" href="{{ url_for('static', filename= 'css/styles.css') }}" as="style" >
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>
<body>
    <div class="v50_198 servicios">
        <div class="v52_355">
            <div class="content-daimler">
                {% if sesion_iniciada %}
                    <h2 class="titulo">SISTEMA DE INVENTARIO</h2>            
                {%else%}
                    <h2 class="titulo">ENTRADA AL SISTEMA</h2>
                {%endif%}
                <p>Barranquilla, Atlántico</p>
                <a href="#">Contactar</a>        
            </div>
        </div>
        <div class="v52_358"></div>
        <div class="formulario">
            <section class="servicio">
                <h2>INGRESAR</h2>
                <div class="formulario">
                    <form action="/login" method="POST">
                        {{csrf_token}}

                        <fieldset>
                            <legend> [ L O G I N ] </legend>
                            
                            <div>
                                <label>Usuario: </label>
                                <input type="text" placeholder="Nombre de Usuario">
                            </div>
            
                            <div>
                                <label>Contraseña: </label>
                                <input type="password" placeholder="Contraseña">
                            </div>
            
                            <input type="submit" value="Aceptar" class="boton">
                            <input type="submit" value="Cancelar" class="boton">
            
                        </fieldset>
                    </form>
                </div>
            </section>

        </div>
    </div>
    <br>
    <footer class="contenedor sombra">
        <p></p>
        <p>Todos los derechos Reservados - GRUPO 7-1177</p>
        <p></p>
    </footer>
</body>
</html>