{% extends "base.html" %}

{% block cont_menu %}
<div class="form_menu">     
    <h2>INFORMACION PRODUCTOS</h2>   
  <table class="info_show table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
          <tr>
              <th>Codigo</th>
              <th>Nombre Producto</th>
              <th>Descripcion</th>
              <th>Cant. Min.</th>
              <th>Cant. Disp.</th>                            
              <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              {%for productos in productos %}
              <tr>
                  <td scope="row"></td>
                  <td>{{productos[1]}} </td>
                  <td>{{productos[2]}} </td>                                    
                  <td>{{productos[3]}} </td>                  
                  <td>{{productos[4]}} </td>
                  <td>{{productos[5]}} </td>
                  <td> <a href="/edit_prod/{{productos[0]}}">Editar</a> | <a href="/del_prod/{{productos[0]}}">Borrar</a></td>
              </tr>
              {%endfor %}
          </tbody>
  </table>  
</div>
{% endblock %}